﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row bgimage">
    <div class="col-md-4 lineright ">
        <button class="btn btn-info  center">@Resources.Home.Kaydol!</button>
    </div>
    <div class="col-md-4 lineright ">
        <button class="btn btn-info center"> @Resources.Home.Check!</button>
    </div>
    <div class="col-md-4 lineright ">
        <button class="btn btn-info    center">@Resources.Home.People! </button>
    </div>
</div>