﻿@model IEnumerable<Voyageur.Models.EditModels>

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profil</h2>
@if (Model.Any())
{
foreach (var item in Model)
{
<div class="row">
    <div class="col-md-3">
        <ul>
            <li><img src="~/images/profil.png" width="40%" /></li>
            <li>@Html.ActionLink("Profil", "Index")</li>
            <li>@Html.ActionLink("Düzenle", "Edit", new { id = item.ID })</li>
            <li>@Html.ActionLink("Paylaşımlarım", "Index", "ShareModels")</li>
        </ul>
    </div>
    <div class="col-md-9">

            <dl class="dl-horizontal">

                <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Name)
                </dd>
                <dt>@Html.DisplayNameFor(model => model.Address)</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Address)
                </dd>
                <dt>@Html.DisplayNameFor(model => model.Number)</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Number)
                </dd>
                <dt>@Html.DisplayNameFor(model => model.BirthDay)</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </dd>
                <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.UserName)
                </dd>
                <dt></dt>
                <dd>
                    <button type="button" id="loginLink" class="btn btn-info" onclick="location.href='@Url.Action("ChangePassword", "Manage")'">Şifre Değiştir </button>
                </dd>
                <dt></dt>
                <dd>
                     
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </dd>
            </dl>
        
    </div>
</div>
}
}
else
{
    <button type="button" id="loginLink" class="btn btn-info" onclick="location.href='@Url.Action("Create", "EditModels")'">Oluştur</button>

}