﻿<!DOCTYPE html>
<html lang="tr">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Voyageur</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <img id="logo" src="~/images/LogoMakr.png" width="100%">
    <nav class="navbar navbar-inverse navs " >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VOYAGEUR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand octinbaslik" })
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-th-list"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(Resources.Home.Chat, "Index", "Chat")</li>
                            <li>@Html.ActionLink(Resources.Home.Paylas, "Create", "ShareModels")</li>
                            <li>@Html.ActionLink(Resources.Home.Favori_Mekanlar, "Index", "ShareModels")</li>
                        </ul>
                    </li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="navbar-form navbar-right">
                            <li>
                            @ViewBag.User
                                @Html.ActionLink(Resources.Home.Hello+" " +User.Identity.Name, "Index", "EditModels", routeValues: null, htmlAttributes: new { title = "Profil" })
                            
                            <button type="button" id="loginLink" class="btn btn-danger" onclick="javascript:document.getElementById('logoutForm').submit()">@Resources.Home.Cıkıs<span class="glyphicon glyphicon-off" /></button>
                                <var class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        @Resources.Home.Dil
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li>@Html.ActionLink("TR", "Change", "Home", new { LanguageAbbrevation = "tr" }, null)</li>
                                        <li>@Html.ActionLink("EN", "Change", "Home", new { LanguageAbbrevation = "en" }, null)</li>
                                    </ul>
                                </var></li>
                        </ul>
                  
                    }

                }
                else
                {
                    using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                <ul class="navbar-form navbar-right">
                    <li><button type="button" id="registerLink" class="btn btn-success" onclick="location.href='@Url.Action("Login", "Account")'">@Resources.Home.Giris <span class="glyphicon glyphicon-log-in" /></button>
                    <button type="button" id="loginLink" class="btn btn-danger" onclick="location.href='@Url.Action("Register", "Account")'">@Resources.Home.Kaydol <span class="glyphicon glyphicon-floppy-save" /></button>                       
                        <var class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                @Resources.Home.Dil
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>@Html.ActionLink("TR", "Change", "Home", new { LanguageAbbrevation = "tr" }, null)</li>
                                <li>@Html.ActionLink("EN", "Change", "Home", new { LanguageAbbrevation = "en" }, null)</li>
                            </ul>
                        </var>
                    </li>

                </ul>
                    }
                }

            </div>
        </div>
    </nav>
    <br />
    <br />
    <div class="container">
        @RenderBody()

    </div>
    <br />
    <br />

    <div class="container-fluid footer">
        <br />

        <div class=" container ">
            <p> @DateTime.Now.Year - © Copyright 2016  Mustafa Güler</p>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

