﻿@model Voyageur.Models.EditModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chat</h2>


@section scripts {

    <script src="~/Scripts/jquery.signalR-1.0.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.addNewMessageToPage = function (name, message) {
                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.send('@ViewBag.UserName', $('#message').val());
                    $('#message').val('').focus();
                });
            });
        });
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            <div id="discussion">

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
           Message : <input type="text" id="message" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="button" id="sendmessage" value="Send" />

        </div>
    </div>
</div>

