﻿@model Voyageur.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}


<div class="row">
    <div class="col-md-3">
        <ul >
            <li><img src="~/images/profil.png" width="40%"  /></li>
            <li>@Html.ActionLink("Profil", "ChangePassword")</li>
            <li>@Html.ActionLink("Düzenle", "ChangePassword")</li>
            <li>@Html.ActionLink("Paylaşımlarım", "ChangePassword")</li>
        </ul>
    </div>
    <div class="col-md-9">
        <dl class="dl-horizontal">
           
            <dt>Ad Soyad :</dt>
            <dd>
                @Model.Logins.Count [
                 ]
            </dd>
            <dt>Doğum Tarihi :</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            <dt>Mail :</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            <dt>Telefon :</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            <dt>Adres :</dt>
            <dd>

            </dd>
            <dt></dt>
            <dd>
                <button type="button" id="loginLink" class="btn btn-info" onclick="location.href='@Url.Action("ChangePassword", "Manage")'">Şifre Değiştir </button>
            </dd>
        </dl>
    </div>
</div>