﻿@model IEnumerable<Voyageur.Models.ShareModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var onceki="";
}
<h2>Paylaşımlar</h2>

<select style="margin-left:25%;">

@foreach (var item in Model)
{
    if (onceki != @Url.Content(item.Kategori))
    {
         onceki = @Url.Content(item.Kategori);
        <option>@Url.Content(item.Kategori)</option>

    }
}
</select>
<br /><br />

@foreach (var item in Model)
{

    <div style="border:2px solid black; border-radius:5px; background-color: #f8f8ff; width:550px; margin-left:25%;">
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object" src="@Url.Content(item.Image)" width="100px">
            </div>
            <div class="media-body">
                <h3 class="media-heading">@Html.DisplayFor(modelItem => item.Name)</h3>
                @Html.DisplayFor(modelItem => item.Address)
                <div class="media" style="border:2px solid black; width:300px">
                    <div class="media-left">
                        <img class="media-object" src="~/images/profil.png" width="18px ">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">@Html.DisplayFor(modelItem => item.Comment)</h3>
                    </div>

                </div>
                <br />
                <ul style="margin-left:-10%;">
                    @for (int i = 0; i < Convert.ToInt32(item.Point); i++)
                    {
                        <li style="display:block; float:left;">
                            <img class="media-object" src="~/images/star.png" width="18px">
                        </li>
                    }
                    @for (int i = 0; i < 10 - Convert.ToInt32(item.Point); i++)
                    {
                        <li style="display:block; float:left;">
                            <img class="media-object" src="~/images/stardark.png" width="18px">
                        </li>
                    }
                </ul>
                <br />
            </div>
            <div class="media-right">
                <strong style="border:solid 2px black; border-radius:10px; font-size:25px; margin-right:100%;">@Html.DisplayFor(modelItem => item.Point)</strong>
            </div>

        </div>
    </div>
    <ul style="margin-left:25%;">
        <li>
           @if (Request.IsAuthenticated)
            {
             @Html.ActionLink("Edit", "Edit", new { id = item.ID })
 
            }
           |
            @if (Request.IsAuthenticated)
            {
            @Html.ActionLink("Details", "Details", new { id = item.ID })

            }
            |
            @if (Request.IsAuthenticated)
            {
              @Html.ActionLink("Delete", "Delete", new { id = item.ID })

            }
        </li>
    </ul>
    <br /><br />


}

